<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.merabihar.app.merabihar">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemes">
        <activity android:name=".UI.Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Activity.SlideOptionScreen" />
        <activity
            android:name=".UI.Activity.LoginScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.SignUpScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.Activity.ProfileScreen" />
        <activity
            android:name=".UI.Activity.ContentDetailScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.ContentImageDetailScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.Activity.ContentList" />
        <activity
            android:name=".UI.DemoDesignTestScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.MainTabHostScreens.TabMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.MainTabHostScreens.TabHomeNewDesign"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.MainTabHostScreens.TabSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.MainTabHostScreens.TabPostOptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.PrivacyPolicyScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.Activity.PickInterestsScreenForProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.MainTabHostScreens.TabVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.MainTabHostScreens.TabAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.MainTabHostScreens.SearchScreens.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.Activity.InterestListScreen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.Activity.CategoryContentList"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.Activity.SettingScreen" />
        <activity android:name=".UI.MainTabHostScreens.TabVideoNewDesign" />
        <activity
            android:name=".UI.Activity.FollowOptions.FollowOptionsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.MainTabHostScreens.PostContent.PostContentScreen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.MainTabHostScreens.PostContent.PostVideoYoutubeContent"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.Activity.CommentsScreen"
            android:theme="@style/AppTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <activity
            android:name=".UI.Activity.Influencer.InfluencerProgramViewScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".UI.Activity.Influencer.InviteScreen" />
        <activity android:name=".UI.Activity.Influencer.InviteFriendsScreen" />
        <activity android:name=".UI.Activity.FriendList.FriendListScreen" />
        <activity android:name=".UI.Activity.Influencer.InfluencerProgramDetailScreen" />
        <activity android:name=".UI.Activity.Influencer.Income" />
        <activity android:name=".UI.YoutubePlayList.YouTubeListScreen" />
        <activity android:name=".UI.MainTabHostScreens.VideoCategoryScreens" />
        <activity android:name=".UI.Activity.ContentListScreen" />
        <activity android:name=".UI.MainTabHostScreens.TabHomeHostScreen" />
        <activity android:name=".UI.MainTabHostScreens.TabPostMediaActivity" />
        <activity android:name=".UI.Activity.Influencer.WithdrawMoney" >

        </activity>
        <activity android:name=".UI.MainTabHostScreens.TabSearchActivity2" />
        <activity android:name=".UI.MainTabHostScreens.TabVideoNewDesign2"/>
    </application>

</manifest>